<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="localdb" connectionString="Integrated Security=SSPI;Persist Security Info=False;User ID=SMTSOFTWARE\lucas.contreras;Initial Catalog=SystemLogin;Data Source=WS-005-PF2K3NCM"/>
	</connectionStrings>
</configuration>